<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296128411783-fhed4iprpm6nibqbrrpjm66e5pkmvaq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296128411783-fhed4iprpm6nibqbrrpjm66e5pkmvaq8</string>
	<key>API_KEY</key>
	<string>AIzaSyD9N0trmlXOV5eqosv3Z3Yt8tUPdslfC9g</string>
	<key>GCM_SENDER_ID</key>
	<string>296128411783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bachir.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-acab</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-acab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296128411783:ios:f14ceaa5b952dc86c1a022</string>
</dict>
</plist>